.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  background-color: var(--item-background);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
}
